h2{
    font-family: MilkMango;
    font-size: 2.2rem;
    color: var(--primary-color);
    margin-top: 4rem;
}

form{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-family: var(--subtitle-font);
}
  
form ::placeholder{
    color: rgba(0,0,0,0.4);
}
    
form .input-container{
    margin-bottom: 1rem;
    width: 100%;
    max-width: 50rem;
}
    
.input-container label{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem; 
    padding:1rem 0; 
}
      
.input-container input{
    border: solid 1px rgba(0,0,0,0.25);
    border-radius: .4rem;
    line-height: 2.2rem;
    padding: 1rem;
    font-family: var(--text-font);
}
  
#form :nth-child(1){
    display: flex;
    flex-direction: column;
    grid-area: email;
}

#form :nth-child(2){
    display: flex;
    flex-direction: column;
    grid-area: senha;
}

h3{
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top:1rem;
}

h3 a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}